In [1]:
# Set Dependencies
import pandas as pd

In [2]:
# url 
url_olympic_sites='https://en.wikipedia.org/wiki/List_of_Olympic_Games_host_cities'

In [3]:
#Extract Olympic tables from wikipedia
df_olympic_sites_wiki=pd.read_html(url_olympic_sites)

In [4]:
#olympics sites dataframe

df_olympic_sites_wiki= df_olympic_sites_wiki[0]
new_header=df_olympic_sites_wiki.iloc[0]
df_olympic_sites_wiki=df_olympic_sites_wiki[1:]
df_olympic_sites_wiki.columns=new_header
#df_olympic_sites_wiki.drop(df_olympic_sites_wiki.index[len(df_olympic_sites_wiki)-3])
df_olympic_sites_wiki=df_olympic_sites_wiki.iloc[43:62] # select specific rows
#df_olympic_sites_wiki=df_olympic_sites_wiki
df_olympic_sites_wiki

,City,Country,Continent,Summer (Olympiad),Winter,Year,Opening Ceremony,Closing Ceremony
44,Lillehammer,Norway,Europe,—,W017XVII,1994,000000002018-02-12-0000February 12,000000002018-02-27-0000February 27
45,Atlanta,United States,North America,S026XXVI,—,1996,000000002018-07-19-0000July 19,000000002018-08-04-0000August 4
46,Nagano,Japan,Asia,—,W018XVIII,1998,000000002018-02-07-0000February 7,000000002018-02-22-0000February 22
47,Sydney,Australia,Oceania,S027XXVII,—,2000,000000002018-09-15-0000September 15,000000002018-10-01-0000October 1
48,Salt Lake City,United States,North America,—,W019XIX,2002,000000002018-02-08-0000February 8,000000002018-02-24-0000February 24
49,Athens,Greece,Europe,S028XXVIII,—,2004,000000002018-08-13-0000August 13,000000002018-08-29-0000August 29
50,Torino,Italy,Europe,—,W020XX,2006,000000002018-02-10-0000February 10,000000002018-02-26-0000February 26
51,Beijing[i],China,Asia,S029XXIX,—,2008,000000002018-08-08-0000August 8,000000002018-08-24-0000August 24
52,Vancouver,Canada,North America,—,W021XXI,2010,000000002018-02-12-0000February 12,000000002018-02-28-0000February 28
53,London,United Kingdom,Europe,S030XXX,—,2012,000000002018-07-27-0000July 27,000000002018-08-12-0000August 12
54,Sochi,Russia,Europe[h],—,W022XXII,2014,000000002018-02-07-0000February 7,000000002018-02-23-0000February 23
55,Rio de Janeiro,Brazil,South America,S031XXXI,—,2016,000000002018-08-05-0000August 5,000000002018-08-21-0000August 21
56,Pyeongchang,South Korea,Asia,—,W023XXIII,2018,000000002018-02-09-0000February 9,000000002018-02-25-0000February 25
57,Tokyo,Japan,Asia,S032XXXII,—,2020,000000002018-07-24-0000July 24,000000002018-08-09-0000August 9
58,Beijing,China,Asia,—,W024XXIV,2022,000000002018-02-04-0000February 4,000000002018-02-20-0000February 20
59,Paris,France,Europe,S033XXXIII,—,2024,000000002018-07-26-0000July 26,000000002018-08-11-0000August 11
60,TBD,TBD,NaN,—,W025XXV,2026,(TBD),NaN
61,Los Angeles,United States,North America,S034XXXIV,—,2028,000000002018-07-21-0000July 21,000000002018-08-06-0000August 6
62,TBD,TBD,NaN,—,W026XXVI,2030,(TBD),NaN

In [5]:
# Export file as a CSV, without the Pandas index, but with the header
df_olympic_sites_wiki.to_csv("olympics_sites_wiki.csv", index=False, header=True)

In [6]:
#Import CSV
olympic_sites = "olympics_sites.csv"
df_olympic_sites = pd.read_csv(olympic_sites, encoding = "ISO-8859-1")
df_olympic_sites['Location'] = "["+ df_olympic_sites['Latitude'].astype(str) + ", "+ df_olympic_sites['Longitude'].astype(str) + "]" 
df_olympic_sites.head()

,City,Country,Continent,Year,Latitude,Longitude,Location
0,Lillehammer,Norway,Europe,1994,61.115271,10.466231,"[61.115271, 10.466231]"
1,Atlanta,United States,North America,1996,33.748995,-84.387982,"[33.748995, -84.387982]"
2,Nagano,Japan,Asia,1998,36.648583,138.194771,"[36.648583, 138.194771]"
3,Sydney,Australia,Oceania,2000,-33.868820,151.209296,"[-33.86882, 151.209296]"
4,Salt Lake City,United States,North America,2002,40.760779,-111.891047,"[40.760779, -111.891047]"

In [7]:
df_olympic_sites.to_dict('index')

{0: {'City': 'Lillehammer',
  'Continent': 'Europe',
  'Country': 'Norway',
  'Latitude': 61.11527099999999,
  'Location': '[61.115271, 10.466231]',
  'Longitude': 10.466231,
  'Year': 1994},
 1: {'City': 'Atlanta',
  'Continent': 'North America',
  'Country': 'United States',
  'Latitude': 33.748995,
  'Location': '[33.748995, -84.387982]',
  'Longitude': -84.387982,
  'Year': 1996},
 2: {'City': 'Nagano',
  'Continent': 'Asia',
  'Country': 'Japan',
  'Latitude': 36.648583,
  'Location': '[36.648583, 138.194771]',
  'Longitude': 138.194771,
  'Year': 1998},
 3: {'City': 'Sydney',
  'Continent': 'Oceania',
  'Country': 'Australia',
  'Latitude': -33.86882,
  'Location': '[-33.86882, 151.209296]',
  'Longitude': 151.209296,
  'Year': 2000},
 4: {'City': 'Salt Lake City',
  'Continent': 'North America',
  'Country': 'United States',
  'Latitude': 40.760779,
  'Location': '[40.760779, -111.891047]',
  'Longitude': -111.891047,
  'Year': 2002},
 5: {'City': 'Athens',
  'Continent': 'Europe',
  'Country': 'Greece',
  'Latitude': 37.98381,
  'Location': '[37.98381, 23.727539]',
  'Longitude': 23.727539,
  'Year': 2004},
 6: {'City': 'Torino',
  'Continent': 'Europe',
  'Country': 'Italy',
  'Latitude': 39.9042,
  'Location': '[39.9042, 116.407396]',
  'Longitude': 116.40739599999999,
  'Year': 2006},
 7: {'City': 'Beijing',
  'Continent': 'Asia',
  'Country': 'China',
  'Latitude': 39.9042,
  'Location': '[39.9042, 116.407396]',
  'Longitude': 116.40739599999999,
  'Year': 2008},
 8: {'City': 'Vancouver',
  'Continent': 'North America',
  'Country': 'Canada',
  'Latitude': 49.282728999999996,
  'Location': '[49.282729, -123.120738]',
  'Longitude': -123.12073799999999,
  'Year': 2010},
 9: {'City': 'London',
  'Continent': 'Europe',
  'Country': 'United Kingdom',
  'Latitude': 51.507351,
  'Location': '[51.507351, -0.127758]',
  'Longitude': -0.12775799999999998,
  'Year': 2012},
 10: {'City': 'Sochi',
  'Continent': 'Europe',
  'Country': 'Russia',
  'Latitude': 43.602808,
  'Location': '[43.602808, 39.734154]',
  'Longitude': 39.734154,
  'Year': 2014},
 11: {'City': 'Rio de Janeiro',
  'Continent': 'South America',
  'Country': 'Brazil',
  'Latitude': -22.906847,
  'Location': '[-22.906847, -43.172896]',
  'Longitude': -43.172896,
  'Year': 2016},
 12: {'City': 'Pyeongchang',
  'Continent': 'Asia',
  'Country': 'South Korea',
  'Latitude': 37.370474,
  'Location': '[37.370474, 128.389977]',
  'Longitude': 128.38997700000002,
  'Year': 2018},
 13: {'City': 'Tokyo',
  'Continent': 'Asia',
  'Country': 'Japan',
  'Latitude': 35.689487,
  'Location': '[35.689487, 139.691706]',
  'Longitude': 139.691706,
  'Year': 2020},
 14: {'City': 'Beijing',
  'Continent': 'Asia',
  'Country': 'China',
  'Latitude': 39.9042,
  'Location': '[39.9042, 116.407396]',
  'Longitude': 116.40739599999999,
  'Year': 2022},
 15: {'City': 'Paris',
  'Continent': 'Europe',
  'Country': 'France',
  'Latitude': 48.856614,
  'Location': '[48.856614, 2.352222]',
  'Longitude': 2.3522220000000003,
  'Year': 2024}}